<!DOCTYPE HTML>
<html xmlns="http//www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div class="nav-custom" th:replace="menu/menu :: html_menu"><meta charset="utf-8"/>	</div>
<div class="card-body "></div>

<section class="section container">
	<div class="modal-content ">
		<div class="card-body border-bottom border-gray" ><strong><i class="far fa-file"></i> Cadastro de Cidades</strong></div>	
		<form action="/administrativo/cidade/salvar" class="row card-body" th:object="${cidade}" method="post" >
			<div class="row media-body pb-3 mb-0 small lh-125">	
				<div class="col-2">
					<input class="form-control" type="text" th:value="${cidade.codigo}" name="codigo" placeholder="codigo" readonly/>
					<div class="invalid-feedback"></div>
				</div>
				<div class="col-4">
					<input class="form-control" type="text" maxlength="25" th:value="${cidade.nome}" name="nome" placeholder="nome"/>
					<div class="invalid-feedback"></div>
				</div>
				<div class="col-2">
					<select th:field="*{estado}" class="form-control">
						<option th:each="estado : ${listaEstados}" th:value="${estado.codigo}" th:text="${estado.sigla}"></option>
					</select>
				</div>
				<div class="col-2">
					<a class="form-control btn btn-warning btn-xs" href="/administrativo/estado/cadastrar"><i class="far fa-file"> - Nova Estado</i></a>
				</div>
				<div class="col-2">
					<button class="form-control btn btn-success btn-xs" type="submit"><i class="fas fa-save"> - Salvar</i></button>
				</div>					
			</div>			
		</form>
	</div>
</section>   

</body>
</html>