<!DOCTYPE HTML>
<html xmlns="http//www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
	<meta charset="utf-8"/>
	<script src="js/clock.js"></script>
	<link rel="stylesheet" href="css/menu.css">
	<link rel="stylesheet" href="css/master.css">
<div class="nav-custom" th:replace="menu/menu :: html_menu"></div>
		

<section class="section-clock">
	<div id="clock">
		<h2>HORA CERTA:</h2>
		<div id="time">
			<div>
				<span id="horas">00</span>
				<span id="horas">Horas</span>
			</div>
			
			<div>
				<span id="minutos">00</span>
				<span id="minutos">Minutos</span>
			</div>
			
			<div>
				<span id="segundos">00</span>
				<span id="segundos">Segundos</span>
			</div>
		</div>
	</div>
</section>



</html>