<!DOCTYPE HTML>
<html xmlns="http//www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div class="nav-custom" th:replace="menu/menu :: html_menu"><meta charset="utf-8"/>	</div>
<div class="card-body "></div>

<section class="section container">
	<div class="modal-content ">
		<div class="card-body border-bottom border-gray" ><strong><i class="far fa-file"></i> Ponto de Vendas</strong></div>		
		<form action="/administrativo/vendas/salvar" th:object="${venda}" class="row card-body"  method="post" >
			<div class="row media-body pb-3 mb-0 small lh-125">	
				<div class="col-2">
					<strong>Codigo Venda:</strong>
					<input class="form-control" type="text" th:value="${venda.codigo}" name="codigo" placeholder="codigo" readonly/>
				</div>	
					
				<div class="col-10">
					<input class="form-control" type="hidden" th:value="${usuario.codigo}" name="usuario.codigo" placeholder="codigo" readonly/>	
					<strong>Cliente:</strong>		
					<select th:field="*{pessoa}" class="form-control">
						<option th:each="clientes : ${listaPessoas}" th:value="${clientes.codigo}" th:text="${clientes.nome}">
						</option>						
					</select>
				</div>
			</div>
			
			<div class="row media-body pb-3 mb-0 small lh-125">		
				<div class="col-5" th:object="${itemVenda}">
					<strong>Produtos:</strong>			
					<select th:field="*{produto}" class="form-control">
						<option th:each="prod : ${listaProdutos}" th:value="${prod.codigo}" th:text="${prod.nome}"/>
						</option>
					</select>
				</div>	
				
				<div class="col-2">
					<strong>Quantidade:</strong>
					<input class="form-control" type="text" th:value="${quantidade}" name="quantidade" placeholder="Quantidade" requerid/>							
				</div>	
				
				<div class="col-3">
					<strong>Preco:</strong>
					<input class="form-control" type="text"  name="preco" placeholder="Preco" requerid/>							
				</div>	
				
				<div class="col-2">
					<strong>Incluir:</strong>
					<button class="form-control" name="acao" th:value="select" type="submit"><i class="fas fa-cart-plus text-success"></i></button>
				</div>		
			</div>
			
			<div class="row media-body pb-3 mb-0 small lh-125" >	
			
			
				<table class="table table-striped "  cellspacing="0" cellpadding="0">
		            <thead>
		                <tr class="text-secondary">
		                    <th><strong class="d-block text-gray-dark">#</strong></th>
		                    <th><strong class="d-block text-gray-dark">Nome:</strong></th>
		                    <th><strong class="d-block text-gray-dark">Unit:</strong></th>
		                    <th><strong class="d-block text-gray-dark">fornecedor</strong></th>
		                    <th><strong class="d-block text-gray-dark">Data Compra</strong></th>
		                    <th><strong class="d-block text-gray-dark">Preço</strong></th>
		                    <th><strong class="d-block text-gray-dark">Ações</strong></th>
		                 </tr>
		            </thead>		            
		            <tbody th:if="${!listaItemsVenda.empty}">
		 
		                <tr th:each="itens : ${listaItemsVenda}">
		                    <td><span th:text="${itens.codigo}"/></td>
		                    <td><span th:text="${itens.produto.nome}"/></td>
		                    <td><span th:text="${itens.quantidade}"/></td>
		                    <td><span th:text="${itens.produto.fornecedor.nome}"/></td>
		                    <td><span th:text="${itens.produto.dataCompra}"/></td>
		                    <td><span th:text="${itens.produto.preco}"/></td>
		                </tr> 
		            </tbody>		            		          
				</table>
				<button th:if="${!listaItemsVenda.empty}" class="form-control" name="acao" th:value="salvar" type="submit"><i class="fas fa-save">  Salvar</i></button>
			</div>
			
		</form>
	</div>	
</section>   

</body>
</html>
