<!DOCTYPE HTML>
<html xmlns="http//www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<div class="nav-custom" th:replace="menu/menu :: html_menu"><meta charset="utf-8"/>	</div>
<div class="card-body "></div>

<section class="section container">
	<div class="modal-content ">
		<div class="card-body border-bottom border-gray" ><strong><i class="far fa-file"></i> Cadastro de Cidades</strong></div>	
		<form action="/administrativo/usuario/salvar" class="row card-body" th:object="${usuario}" method="post" >
			<div class="row media-body pb-3 mb-0 small lh-125">	
				<div class="col-2">
					<input class="form-control" type="text" th:value="${usuario.codigo}" name="codigo" placeholder="codigo" readonly/>
					<div class="invalid-feedback"></div>
				</div>
				
				<div class="col-10">
					<select th:field="*{pessoa}" class="form-control">
						<option th:each="pessoa : ${listaPessoas}" th:value="${pessoa.codigo}" th:text="${pessoa.nome}"></option>
					</select>
				</div>				
			</div>
			<div class="row media-body pb-3 mb-0 small lh-125">	
				<div class="col-3">
					<input class="form-control" type="text" th:value="${usuario.userName}" name="userName" placeholder="Úsuario"/>
					<div class="invalid-feedback"></div>
				</div>
				
				<div class="col-3">
					<input class="form-control" type="text" th:value="${usuario.password}" name="password" placeholder="Senha"/>
					<div class="invalid-feedback"></div>
				</div>
							
				<div class="col-2">
					<select  class="form-control" name="active">
					  <option th:value="${usuario.active}" th:text="${usuario.active}"></option>
					  <option value="true">Ativo</option>
					  <option value="false">Inativo</option>
					</select>
				</div>	
				<div class="col-2">
					<select  class="form-control" name="roles">
					 
					  <option value="gerente">Gerente</option>
					  <option value="consultor">Consutor</option>
					</select>
				</div>
			
				<div class="col-2">
					<button class="form-control btn btn-success btn-xs" type="submit"><i class="fas fa-save"> - Salvar</i></button>
				</div>					
			</div>			
		</form>
	</div>
</section>   

</body>
</html>